<h2>Reactive Form</h2>
<form [formGroup]="reactiveForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" formControlName="username" />
    <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors['required']">Username is required</div>
      <div *ngIf="username.errors['uniqueUsername']">Username already exists</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" autocomplete="email" />
    <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors['required']">Email is required</div>
      <div *ngIf="email.errors['uniqueEmail']">Email already exists</div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailConfirm">Confirm Email</label>
    <input type="password" class="form-control" formControlName="emailConfirm" autocomplete="email" />
    <div class="text-danger" *ngIf="emailConfirm.invalid && (emailConfirm.dirty || emailConfirm.touched)">
      <div *ngIf="emailConfirm.errors['required']">Confirm Email is required</div>
      <div *ngIf="emailConfirm.errors['compare']">Confirm Email do not match</div>
      <div *ngIf="emailConfirm.errors['uniqueEmail']">Confirm Email already exists</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" autocomplete="new-password" />
    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      Password is required
    </div>
  </div>
  <div class="form-group">
    <label for="passwordConfirm">Confirm Password</label>
    <input type="password" class="form-control" formControlName="passwordConfirm" autocomplete="new-password"/>
    <div class="text-danger" *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
      <div *ngIf="passwordConfirm.errors['required']">Confirm Password is required</div>
      <div *ngIf="passwordConfirm.errors['compare']">Confirm Password do not match</div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="reactiveForm.invalid">Submit</button>
</form>
<br />
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Form status: {{ reactiveForm.status }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Form Value</h6>
    <pre>{{ reactiveForm.value | json }}</pre>
  </div>
</div>


